= form_for [@pin, @pin.comments.build] do |f|
	.form-group
		= f.label :name
		= f.text_field :name,class: "name-field"

		
	.form-group
		= f.label :body
		= f.text_area :body, class: "body-field"
		%br
		= f.submit "Submit", class: "btn btn-primary"
		